.admonition-info {
  background-color: #e3f2fd80;
  border-left: 4px solid #2196f3;
  padding: 10px;
  margin: 1em 0;
}

.admonition-tip {
  background-color: #e8f5e980;
  border-left: 4px solid #4caf50;
  padding: 10px;
  margin: 1em 0;
}

.admonition-warning {
  background-color: #fff3cd80;
  border-left: 4px solid #ffc107;
  padding: 10px;
  margin: 1em 0;
}

.admonition-caution {
  background-color: #ffbdc380;
  border-left: 4px solid #dc3545;
  padding: 10px;
  margin: 1em 0;
}

.admonition-important {
  background-color: #cdabff80;
  border-left: 4px solid #9146FF;
  padding: 10px;
  margin: 1em 0;
}

.admonition {
  margin: 1em 0;
  padding: 10px;
  border-radius: 4px;
}

.admonition strong{
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  color: #333;
  gap: 0.5em;
}