pre {
  background: #f6f8fa !important;
  color: #24292e !important;
  border-radius: 6px;
  padding: 1em;
  overflow-x: auto;
}

code {
  font-family: 'Fira Mono', 'Menlo', 'Consolas', monospace;
  font-size: 1em;
}