.markdown-body {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, 'Liberation Sans', sans-serif;
  color: #222;
  line-height: 1.7;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.markdown-body h1 {
  font-size: 2.2em;
  margin-top: 0.67em;
  margin-bottom: 0.3em;
}
.markdown-body h2 {
  font-size: 1.6em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
.markdown-body h3 {
  font-size: 1.2em;
  margin: 0.67em 0;
}
.markdown-body ul, .markdown-body ol {
  padding-left: 1em;
  margin: 0 0 0 0.5em;
}
.markdown-body pre {
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
  margin-bottom: 1em;
}
.markdown-body *::-webkit-scrollbar {
  height: 6px;
}
.markdown-body *::-webkit-scrollbar-thumb {
  background: #c8732c;
  border-radius: 2px;
  font-size: 0.95em;
}
.markdown-body *::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #c8732cf0;
}
.markdown-body blockquote {
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  padding: 0 1em;
  margin: 1em 0;
  background: #f9f9f9;
}
.markdown-body table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}
.markdown-body th, .markdown-body td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.markdown-body a {
  color: #c8732c;
  text-decoration: underline;
  overflow-wrap: break-word;
}

.markdown-body img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;
}